<% @links.each do |link| %>
  <div>
    <h2>
      <%= link_to link.title, link%><br>
    <small class="author"><strong>Submitted</strong> <%= time_ago_in_words(link.created_at)%>
    <strong>by</strong> <%= link.user.email %></small>
    </h2>
  </div>
<hr>
<% end %>